//@import "src/theme/variables";
*{
  p{
    margin: 0;
    padding: 0;
  }

  span{
    margin: 0;
    padding: 0;
  }
  h4{
    margin: 0;
    padding: 0;
  }
}
.invoice-container{
  display: block;
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 0px 16px;
}

.header-content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  .heater-right{
    display: flex;
    flex-direction: column;
    text-align: end;
    //font-family: $font-en-primary;
  }
}

.invoice-content{
  display: grid;
  grid-template-columns: 1fr;
  border: 2px solid #d2d2d2;
  margin-top: 20px;
  h4{
    padding: 10px;
    background-color: #d2d2d2!important;
    -webkit-print-color-adjust:exact;
    border-bottom: 2px solid #d2d2d2;
  }

}


.shipping-info{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  border-bottom: 2px solid #d2d2d2;
  p{
    padding: 5px;
  }
  .order-number{
    border-left: 2px solid #d2d2d2;
  }
}

.customer-info{
  display: flex;
  flex-direction: column;
  border-bottom: 2px solid #d2d2d2;
  padding: 5px 10px 10px 5px;
  span{
    line-height: 25px;
  }
}

.total-amount{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  p{
    padding: 5px;
  }
  .quantity{
    border-left: 2px solid #d2d2d2;
  }
}


.product-infos{
  margin-top: 25px;
  .product-info-header{
    display: grid;
    grid-template-columns: 40% 20% 10% 5% 10% 15%;
    border-left: 2px solid #e8e5e5;
    border-top: 2px solid #d2d2d2;
    .border{
      background-color: #d2d2d2;
      -webkit-print-color-adjust:exact;
      padding: 10px 0;
      text-align: center;
      border-right: 2px solid #e8e5e5;
      border-bottom: 2px solid #e8e5e5;
    }
  }
  .product-info-content{
    display: grid;
    grid-template-columns: 40% 20% 10% 5% 10% 15%;
    border-left: 2px solid #e8e5e5;
    .border{
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 2px solid #e8e5e5;
      border-bottom: 2px solid #e8e5e5;
      img{
        height: 60px;
        width: 60px;
        padding: 5px 0;
      }
    }
  }
}

.product-total-content{
  display: flex;
  justify-content: end;
  width: 100%;
  padding-bottom: 30px;
  //border-bottom: 2px solid #d2d2d2;
}

.product-total{
  margin-top: 20px;
  max-width: 350px;

  .border-btm{
    border-bottom: 2px solid #d2d2d2;
  }
  .product-total-price{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-top: 2px solid #d2d2d2;
    border-left: 2px solid #d2d2d2;
    border-right: 2px solid #d2d2d2;
    p{
      padding: 5px;
    }
    .quantity{
      border-left: 2px solid #d2d2d2;
    }
  }
}

img{
  width: 100px;
  height: 90px;
}
