
<div id="print-section" class="invoice-container">
  <div class="header-content">
    <img src="assets/brand/logo/logo.png" alt="">
    <div class="heater-right">
      <span>Dhanmondi, Dhaka</span>
      <span>Visit: www.medicinedipo.com</span>
      <span>Mobile: 09611677835</span>
    </div>
  </div>


  <div class="invoice-content">
    <h4>Order Date: Sep 6, 2023</h4>
    <div class="shipping-info">
      <p>Ship to:</p>
      <p class="order-number">Order Number: {{data?.orderId}}</p>
    </div>
    <div class="customer-info">
      <span>Name: Shuvo</span>
      <span>Address: Modonpur</span>
      <span>Phone:01958366946</span>
    </div>
    <div class="total-amount">
      <p>Total Amount: ৳859 </p>
      <p class="quantity">Total Quantity: 1</p>
    </div>
  </div>


  <div class="product-infos">
    <div class="product-info-header">
      <p class="border">Product</p>
      <p class="border">Image</p>
      <p class="border">Price</p>
      <p class="border">Qty</p>
      <p class="border">Tax</p>
      <p class="border">Subtotal</p>
    </div>

    <div class="product-info-content">
      <p class="border">Cicloson Nasal Spray</p>
      <p class="border"><img src="assets/brand/logo/logo.png" alt=""></p>
      <p class="border">৳300</p>
      <p class="border">4</p>
      <p class="border">৳35</p>
      <p class="border">৳120</p>
    </div>

    <div class="product-info-content">
      <p class="border">Cicloson Nasal Spray</p>
      <p class="border"><img src="assets/brand/logo/logo.png" alt=""></p>
      <p class="border">৳300</p>
      <p class="border">4</p>
      <p class="border">৳35</p>
      <p class="border">৳120</p>
    </div>


  </div>


  <div class="product-total-content">
    <div class="product-total">
      <div class="product-total-price">
        <p >Shipping Cost :</p>
        <p class="quantity">৳60</p>
      </div>
      <div class="product-total-price">
        <p >Discount :</p>
        <p class="quantity">৳60</p>
      </div>
      <div class="product-total-price">
        <p >Advance Payment :</p>
        <p class="quantity">৳60</p>
      </div>
      <div class="product-total-price border-btm">
        <p >Grand Total :</p>
        <p class="quantity">৳859</p>
      </div>
    </div>
  </div>
</div>



<!--  <button  [useExistingCss]="true" printSectionId="print-section" ngxPrint >print</button>-->

