<div class="filter-area">
    <div class="container">
        <div class="filter-main">
            <ul>
                <li><span><img src="https://bdtickets.com/images/filter-icon.webp" alt="">SORT BY</span></li>
                <li><span>Operator <img src="https://bdtickets.com/images/sort-icons/sort.svg" alt=""></span></li>
                <li><span>Departure Time<img src="https://bdtickets.com/images/sort-icons/sort.svg" alt=""></span>
                </li>
                <li><span>Available Seats<img src="https://bdtickets.com/images/sort-icons/sort.svg" alt=""></span>
                </li>
                <li><span>Fare<img src="https://bdtickets.com/images/sort-icons/sort.svg" alt=""></span></li>
            </ul>
        </div>
    </div>
</div>

