<section class="admin-data-sec">
  <div class="top-data-header">
    <div class="title">
      <h2>Trip Sheet</h2>
    </div>
  </div>
  <!-- END TOP DATA HEADER -->

  <div class="top-data-header" style="display: block">
    <app-search-trip></app-search-trip>
  </div>
  <!-- END TOP DATA HEADER -->

  <div class="action-multiple">
    <div class="sort">
      <button
        mat-raised-button
        color="primary"
        [matMenuTriggerFor]="matMenuBus"
      >
        Launch
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #matMenuBus="matMenu">
        <button
          *ngFor="let data of buss; let i = index"
          mat-menu-item
          (click)="filterData(data.name, i, 'bus')"
          [class.dropdown-active]="activeFilter1 === i"
        >
          {{ data.name }}
        </button>
      </mat-menu>
    </div>

    <div class="sort">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menuSort">
        Sort By
        <mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #menuSort="matMenu">
        <button
          mat-menu-item
          (click)="sortData({ createdAt: 1 }, 1)"
          [class.dropdown-active]="activeSort === 1"
        >
          Booked Time (Last - First)
        </button>
        <button
          mat-menu-item
          (click)="sortData({ createdAt: -1 }, 1)"
          [class.dropdown-active]="activeSort === 1"
        >
          Booked Time (First - Last)
        </button>
      </mat-menu>
    </div>
  </div>

  <div class="table-wrapper space" *ngFor="let trip of trips">
    <div class="section" *ngIf="trip">
      <div class="container">
        <div class="section-main">
          <div
            class="ticket-area"
            [class]="selectedTrip && trip._id === id ? 'active-border' : ''"
          >
            <div class="ticket-info" (click)="onShowMobile($event)">
              <div class="ticket-search-info">
                <h3>{{ trip?.bus?.name }}</h3>
                <!-- <p>
                Coach Type: <span>{{ trip?.bus?.coachType }}</span>
              </p> -->
                <ul class="ticket-search-time">
                  <li>
                    <span>{{ trip?.departureTime?.name }}</span>
                  </li>
                  <li>
                    <span>{{ trip?.arrivalTime?.name }}</span>
                  </li>
                </ul>
                <ul class="ticket-search-point">
                  <li>
                    Starting Point: <span>{{ trip?.from?.name }}</span>
                  </li>
                  <li>
                    End Point: <span>{{ trip?.to?.name }}</span>
                  </li>
                </ul>
              </div>

              <div class="ticket-time-info">
                <h4>DEPARTURE</h4>
                <h4>Time</h4>
                <span>{{ trip?.departureTime?.name }}</span>
              </div>
              <div class="ticket-time-info">
                <h4>ARRIVAL</h4>
                <h4>Time</h4>
                <span>{{ trip?.arrivalTime?.name }}</span>
              </div>
              <div class="ticket-time-info">
                <h4>SEATS</h4>
                <h4>AVAILABLE</h4>
                <span>{{ totalAvailableSeats }}</span>
              </div>
              <div class="ticket-price-info">
                <div class="price">
                  <!-- <span>{{ trip?.bus?.totalSeat }} Seats Available</span> -->
                  <!-- <h3>৳{{ trip?.price }}</h3> -->
                </div>
                <div class="ticket-control-btn">
                  <button [routerLink]="['./',trip._id]">View Trip Sheet</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- LOADING TEMPLATE -->
  <ngx-spinner
    bdColor="rgba(0, 0, 0, 0.5)"
    size="medium"
    color="#fff"
    type="ball-atom"
    [fullScreen]="false"
  >
    <p style="color: white">Loading...</p>
  </ngx-spinner>
</section>
