table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
  font-size: 12px;
}

td, th {
  border: 1px solid #656565;
  text-align: left;
  padding: 5px;
  font-size: 12px;
}
