<div class="popup-area" *ngIf="popup">
  <div class="popup-area-main">
    <div class="popup-area-main-parent">
      <div class="close-button">
        <button type="button" (click)="hidePopup()">
          <span class="material-symbols-outlined">
            close
            </span>
        </button>
      </div>

      <div class="workflow-popup-title">
        <form
          #formElement="ngForm"
          [formGroup]="dataForm"
          (ngSubmit)="onSubmit()"
          autocomplete="off"
        >
          <div class="top-input">
            <div class="title">
              <h2>{{ id ? "Edit" : "Add New" }} Trip</h2>
            </div>
          </div>

          <div class="container-fluid">
            <div class="main">
              <div class="left">
                <div class="title">
                  <h2>Trip Date: {{ date | date }}</h2>
                </div>
                <div class="sub-title">
                  <h3>
                    Launch: <span>{{ trip?.bus?.name }}</span>
                  </h3>
                  <h3>
                    From: <span>{{ trip?.from?.name }}</span>
                  </h3>
                  <h3>
                    To: <span>{{ trip?.to?.name }}</span>
                  </h3>
                  <h3>
                    Deprature Time: <span>{{ trip?.departureTime?.name }}</span>
                  </h3>
                  <h3>
                    Arrival Time: <span>{{ trip?.arrivalTime?.name }}</span>
                  </h3>
                  <div class="save">
                    <button (click)="onSubmit()" type="button">
                      <span>Add New Trip</span>
                    </button>
                  </div>
                </div>
              </div>
              <div class="right">
                <app-date-picker
                  [inputDate]="date"
                  (passDataEvent)="onDateSelect($event)"
                ></app-date-picker>
              </div>
            </div>
          </div>
        </form>
      </div>

      <!-- popup-bottom -->
      <div class="popup-bottom">
        <button (click)="hidePopup()" type="button">
          <span>Close</span>
        </button>
      </div>
    </div>
  </div>
</div>
