<section class="admin-data-sec">
  <div class="top-data-header">
    <div class="title">
      <h2>All Trips</h2>
    </div>

    <!-- <form class="table-search" #searchForm=ngForm>
      <input type="text"
             #searchInput
             name="searchTerm"
             autocomplete="off"
             ngModel placeholder="Search">
      <button><i class="fa fa-search"></i></button>
    </form> -->

    <!-- <div class="action">

      <button *ngIf="checkAddPermission" mat-raised-button color="accent" [routerLink]="['../', 'add-trip']">
        <mat-icon>add</mat-icon>
        Add Trip
      </button>
    </div> -->

  </div> <!-- END TOP DATA HEADER -->
    <div class="top-data-header" style="display: block;">
      <app-search-trip></app-search-trip>
    </div> <!-- END TOP DATA HEADER -->

    <div class="action-multiple" style="padding-bottom:15px;">

      <div class="sort">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menuCat">
          Bus
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuCat="matMenu">
          <button *ngFor="let data of buss; let i = index" mat-menu-item
                  (click)="filterData(data.name, i, 'bus')"
                  [class.dropdown-active]="activeFilter1 === i">
            {{data.name}}
          </button>
        </mat-menu>
      </div>

      <div class="sort">
        <button mat-raised-button color="primary" [matMenuTriggerFor]="menuSort">
          Sort By
          <mat-icon>arrow_drop_down</mat-icon>
        </button>
        <mat-menu #menuSort="matMenu">
          <button mat-menu-item (click)="sortData({date: 1}, 1)" [class.dropdown-active]="activeSort === 1">
            Trip Date (First - Last)
          </button>
          <button (click)="sortData({date: -1}, 2)" mat-menu-item [class.dropdown-active]="activeSort === 2">
            Trip Date (Last - First)
          </button>
        </mat-menu>
      </div>

    </div>

    <hr class="center-square">

    <div class="table-wrapper space">

      <div class="table-action" [class.dual]="activeSort || filter">
        <div class="left" *ngIf="activeSort || filter">
          <button mat-stroked-button color="accent" (click)="onRemoveAllQuery()">
            <mat-icon>close</mat-icon>
            Clear FilterData
          </button>
        </div>

        <div class="right" *ngIf="selectedIds && selectedIds.length">
          <button *ngIf="checkEditPermission" mat-stroked-button color="primary" [matMenuTriggerFor]="menu">
            Change Status
            <mat-icon>arrow_drop_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="openConfirmDialog('edit', {status: 'publish'})">Publish</button>
            <button mat-menu-item (click)="openConfirmDialog('edit', {status: 'draft'})">Draft</button>
          </mat-menu>

          <button *ngIf="checkDeletePermission" mat-stroked-button color="warn" (click)="openConfirmDialog('delete')"
                  matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div> <!-- END Table Action -->

      <table>
        <tr>
          <th class="t-checkbox">
            <mat-checkbox #matCheckbox (change)="onAllSelectChange($event)"></mat-checkbox>
          </th>
          <th>Bus Name</th>
          <th>Company</th>
          <th>Total Seat</th>
          <th>From</th>
          <th>To</th>
          <th>Trip Date</th>
          <!-- <th>Price</th> -->
          <!-- <th>Service Charge</th> -->
          <!-- <th>Priority</th> -->
          <th>Status</th>
          <th>Action</th>
        </tr>
        <tr
          *ngFor="let data of trips | paginate: { itemsPerPage: TripsPerPage, currentPage: currentPage, totalItems: totalTrips } ; let i = index">
          <td class="t-checkbox">
            <mat-checkbox class="t-mat-checkbox" [(ngModel)]="data.select"
                          (ngModelChange)="onCheckChange($event, i, data._id)"></mat-checkbox>
          </td>
          <td>{{data?.bus?.name | titlecase}}</td>
          <td>{{data?.bus?.name | titlecase}}</td>
          <td>{{data?.bus?.totalSeat}}</td>
          <td>{{data.from?.name}}</td>
          <td>{{data.to?.name}}</td>
          <td>{{data?.date}}</td>
          <!-- <td>{{data?.bus?.name  | titlecase}}</td> -->
          <!-- <td>{{data?.price}}</td> -->
          <!-- <td>{{data?.serviceCharge}}</td> -->
          <!-- <td>{{data?.priority}}</td> -->
          <td [style.color]="data.status === 'publish' ? 'green' : 'red'">{{data.status === 'publish' ? ('Active' | titlecase) :  ('Inactive' | titlecase) }}</td>
          <td class="button">
              <label class="switch">
                <input type="checkbox" [checked]="data.status === 'publish'"
                (input)="onTripActivate($event, data, data?._id)">
                <span class="slider round"></span>
              </label>
          </td>
        </tr>
      </table>
    </div>

    <div class="pagination-container">
      <pagination-controls
        class="data-pagination"
        [autoHide]="true"
        [maxSize]="15"
        (pageChange)="onPageChanged($event)">
      </pagination-controls>
    </div>     <!-- END PAGINATION -->


    <!-- LOADING TEMPLATE -->
    <ngx-spinner bdColor="rgba(0, 0, 0, 0.5)" size="medium" color="#fff" type="ball-atom" [fullScreen]="false">
      <p style="color: white"> Loading... </p>
    </ngx-spinner>

  </section>
